
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

  #carouselExampleSlidesOnly {
    width: 100%;
    height: 100vh;
    }
 
    .as {
        width: 100%;
        height: 100vh;
       background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("../img/1.png") top center;
        background-size: cover;
        position: relative ;
        margin-top: 0px;
        z-index: 9;
    }
    .es {
        width: 100%;
        height: 100vh;
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url("../img/elchicoquedomoelviento.jpg") top center;
        background-size: cover;
        position: relative;
        margin-top: 0px;
        z-index: 9;  
    }
    .is {
        width: 100%;
        height: 100vh;
      background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("../img/3.jpg") top center;
        background-size: cover;
        position: relative;
        margin-top: 0px;
        z-index: 9;
    }
      
    /*NAVBAR*/
 .navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #8a7d78;
  }
  
.view 
{
  color: aliceblue;
  height: 100%;
}
 
.uno{
  background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),  url("../img/3.jpg") top center;
  background-size: cover;
 }
 .dos{
  background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),  url("../img/3.jpg") top center;
  background-size: cover;
 }
 .tres{
  background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),  url("../img/3.jpg") top center;
  background-size: cover;
 }
 .cuatro{
  background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),  url("../img/3.jpg") top center;
  background-size: cover;
 }
 .cinco{
  background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),  url("../img/3.jpg") top center;
  background-size: cover;
 }
 .seis{
  background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),  url("../img/3.jpg") top center;
  background-size: cover;
 }